<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header>
      <div class="logo">
        Yt Downloader
      </div>
      <div class="menu">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
      </div>
    </header>
    <h1>YouTube Video Downloader</h1>
    <form action="/download" method="post">
        <input type="text" name="url" required placeholder="Url">
        <button type="submit">Download</button>
    </form>
</body>
</html>